USE [master]
GO
/****** Object:  Database [BookCloud]    Script Date: 11/03/2026 18:59:02 ******/
CREATE DATABASE [BookCloud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookCloud', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DEVELOPER\MSSQL\DATA\BookCloud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookCloud_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DEVELOPER\MSSQL\DATA\BookCloud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookCloud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookCloud]
GO
USE [BookCloud]
GO
/****** Object:  Sequence [dbo].[Seq_Chats]    Script Date: 11/03/2026 18:59:02 ******/
CREATE SEQUENCE [dbo].[Seq_Chats] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [BookCloud]
GO
/****** Object:  Sequence [dbo].[Seq_Favoritos]    Script Date: 11/03/2026 18:59:02 ******/
CREATE SEQUENCE [dbo].[Seq_Favoritos] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [BookCloud]
GO
/****** Object:  Sequence [dbo].[Seq_Libros]    Script Date: 11/03/2026 18:59:02 ******/
CREATE SEQUENCE [dbo].[Seq_Libros] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [BookCloud]
GO
/****** Object:  Sequence [dbo].[Seq_Mensajes]    Script Date: 11/03/2026 18:59:02 ******/
CREATE SEQUENCE [dbo].[Seq_Mensajes] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [BookCloud]
GO
/****** Object:  Sequence [dbo].[Seq_Pagos]    Script Date: 11/03/2026 18:59:02 ******/
CREATE SEQUENCE [dbo].[Seq_Pagos] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [BookCloud]
GO
/****** Object:  Sequence [dbo].[Seq_PedidoDetalle]    Script Date: 11/03/2026 18:59:02 ******/
CREATE SEQUENCE [dbo].[Seq_PedidoDetalle] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [BookCloud]
GO
/****** Object:  Sequence [dbo].[Seq_Pedidos]    Script Date: 11/03/2026 18:59:02 ******/
CREATE SEQUENCE [dbo].[Seq_Pedidos] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [BookCloud]
GO
/****** Object:  Sequence [dbo].[Seq_SaldoMovimientos]    Script Date: 11/03/2026 18:59:02 ******/
CREATE SEQUENCE [dbo].[Seq_SaldoMovimientos] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [BookCloud]
GO
/****** Object:  Sequence [dbo].[Seq_UsuarioCredenciales]    Script Date: 11/03/2026 18:59:02 ******/
CREATE SEQUENCE [dbo].[Seq_UsuarioCredenciales] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [BookCloud]
GO
/****** Object:  Sequence [dbo].[Seq_Usuarios]    Script Date: 11/03/2026 18:59:02 ******/
CREATE SEQUENCE [dbo].[Seq_Usuarios] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[Chats]    Script Date: 11/03/2026 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chats](
	[Id] [int] NOT NULL,
	[Usuario1Id] [int] NOT NULL,
	[Usuario2Id] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favoritos]    Script Date: 11/03/2026 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favoritos](
	[Id] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[LibroId] [int] NOT NULL,
	[FechaAgregado] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Favorito_Usuario_Libro] UNIQUE NONCLUSTERED 
(
	[UsuarioId] ASC,
	[LibroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 11/03/2026 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[Id] [int] NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Autor] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Foto] [nvarchar](300) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaPublicacion] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mensajes]    Script Date: 11/03/2026 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensajes](
	[Id] [int] NOT NULL,
	[ChatId] [int] NOT NULL,
	[RemitenteId] [int] NOT NULL,
	[Contenido] [nvarchar](max) NOT NULL,
	[FechaEnvio] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
	[Latitud] [decimal](10, 8) NULL,
	[Longitud] [decimal](11, 8) NULL,
	[TieneUbicacion] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 11/03/2026 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[Id] [int] NOT NULL,
	[PedidoId] [int] NOT NULL,
	[FechaPago] [datetime] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[Metodo] [nvarchar](50) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoDetalle]    Script Date: 11/03/2026 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoDetalle](
	[Id] [int] NOT NULL,
	[PedidoId] [int] NOT NULL,
	[LibroId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Pedido_Libro] UNIQUE NONCLUSTERED 
(
	[PedidoId] ASC,
	[LibroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 11/03/2026 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[Id] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaPedido] [datetime] NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaldoMovimientos]    Script Date: 11/03/2026 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaldoMovimientos](
	[Id] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[PedidoId] [int] NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Fecha] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioCredenciales]    Script Date: 11/03/2026 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioCredenciales](
	[Id] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[Salt] [nvarchar](150) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UsuarioCredenciales_Usuario] UNIQUE NONCLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 11/03/2026 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[FotoUrl] [nvarchar](300) NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Chats_Activo]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_Chats_Activo] ON [dbo].[Chats]
(
	[Activo] ASC
)
WHERE ([Activo]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Chats_Usuario1Id]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_Chats_Usuario1Id] ON [dbo].[Chats]
(
	[Usuario1Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Chats_Usuario2Id]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_Chats_Usuario2Id] ON [dbo].[Chats]
(
	[Usuario2Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Favoritos_Activo]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_Favoritos_Activo] ON [dbo].[Favoritos]
(
	[Activo] ASC
)
WHERE ([Activo]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Favoritos_LibroId]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_Favoritos_LibroId] ON [dbo].[Favoritos]
(
	[LibroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Favoritos_UsuarioId]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_Favoritos_UsuarioId] ON [dbo].[Favoritos]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Libros_Activo]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_Libros_Activo] ON [dbo].[Libros]
(
	[Activo] ASC
)
WHERE ([Activo]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Libros_Titulo]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_Libros_Titulo] ON [dbo].[Libros]
(
	[Titulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Libros_UsuarioId]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_Libros_UsuarioId] ON [dbo].[Libros]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mensajes_Activo]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_Mensajes_Activo] ON [dbo].[Mensajes]
(
	[Activo] ASC
)
WHERE ([Activo]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mensajes_ChatId]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_Mensajes_ChatId] ON [dbo].[Mensajes]
(
	[ChatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mensajes_RemitenteId]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_Mensajes_RemitenteId] ON [dbo].[Mensajes]
(
	[RemitenteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pagos_Activo]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_Pagos_Activo] ON [dbo].[Pagos]
(
	[Activo] ASC
)
WHERE ([Activo]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pagos_PedidoId]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_Pagos_PedidoId] ON [dbo].[Pagos]
(
	[PedidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PedidoDetalle_Activo]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_PedidoDetalle_Activo] ON [dbo].[PedidoDetalle]
(
	[Activo] ASC
)
WHERE ([Activo]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PedidoDetalle_LibroId]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_PedidoDetalle_LibroId] ON [dbo].[PedidoDetalle]
(
	[LibroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PedidoDetalle_PedidoId]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_PedidoDetalle_PedidoId] ON [dbo].[PedidoDetalle]
(
	[PedidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pedidos_Activo]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_Pedidos_Activo] ON [dbo].[Pedidos]
(
	[Activo] ASC
)
WHERE ([Activo]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pedidos_UsuarioId]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_Pedidos_UsuarioId] ON [dbo].[Pedidos]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SaldoMovimientos_Activo]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_SaldoMovimientos_Activo] ON [dbo].[SaldoMovimientos]
(
	[Activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SaldoMovimientos_PedidoId]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_SaldoMovimientos_PedidoId] ON [dbo].[SaldoMovimientos]
(
	[PedidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SaldoMovimientos_UsuarioId]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_SaldoMovimientos_UsuarioId] ON [dbo].[SaldoMovimientos]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UsuarioCredenciales_UsuarioId]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioCredenciales_UsuarioId] ON [dbo].[UsuarioCredenciales]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuarios_Activo]    Script Date: 11/03/2026 18:59:02 ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_Activo] ON [dbo].[Usuarios]
(
	[Activo] ASC
)
WHERE ([Activo]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Chats] ADD  DEFAULT (NEXT VALUE FOR [Seq_Chats]) FOR [Id]
GO
ALTER TABLE [dbo].[Chats] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Chats] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Favoritos] ADD  DEFAULT (NEXT VALUE FOR [Seq_Favoritos]) FOR [Id]
GO
ALTER TABLE [dbo].[Favoritos] ADD  DEFAULT (getdate()) FOR [FechaAgregado]
GO
ALTER TABLE [dbo].[Favoritos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT (NEXT VALUE FOR [Seq_Libros]) FOR [Id]
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT (getdate()) FOR [FechaPublicacion]
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Mensajes] ADD  DEFAULT (NEXT VALUE FOR [Seq_Mensajes]) FOR [Id]
GO
ALTER TABLE [dbo].[Mensajes] ADD  DEFAULT (getdate()) FOR [FechaEnvio]
GO
ALTER TABLE [dbo].[Mensajes] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Mensajes] ADD  DEFAULT ((0)) FOR [TieneUbicacion]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT (NEXT VALUE FOR [Seq_Pagos]) FOR [Id]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT (getdate()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT ('Tarjeta') FOR [Metodo]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[PedidoDetalle] ADD  DEFAULT (NEXT VALUE FOR [Seq_PedidoDetalle]) FOR [Id]
GO
ALTER TABLE [dbo].[PedidoDetalle] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT (NEXT VALUE FOR [Seq_Pedidos]) FOR [Id]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT (getdate()) FOR [FechaPedido]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[SaldoMovimientos] ADD  DEFAULT (NEXT VALUE FOR [Seq_SaldoMovimientos]) FOR [Id]
GO
ALTER TABLE [dbo].[SaldoMovimientos] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[SaldoMovimientos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[UsuarioCredenciales] ADD  DEFAULT (NEXT VALUE FOR [Seq_UsuarioCredenciales]) FOR [Id]
GO
ALTER TABLE [dbo].[UsuarioCredenciales] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (NEXT VALUE FOR [Seq_Usuarios]) FOR [Id]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD  CONSTRAINT [FK_Chats_Usuario1] FOREIGN KEY([Usuario1Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Chats] CHECK CONSTRAINT [FK_Chats_Usuario1]
GO
ALTER TABLE [dbo].[Chats]  WITH CHECK ADD  CONSTRAINT [FK_Chats_Usuario2] FOREIGN KEY([Usuario2Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Chats] CHECK CONSTRAINT [FK_Chats_Usuario2]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Libros] FOREIGN KEY([LibroId])
REFERENCES [dbo].[Libros] ([Id])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Libros]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Usuarios]
GO
ALTER TABLE [dbo].[Libros]  WITH CHECK ADD  CONSTRAINT [FK_Libros_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Libros] CHECK CONSTRAINT [FK_Libros_Usuarios]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [FK_Mensajes_Chats] FOREIGN KEY([ChatId])
REFERENCES [dbo].[Chats] ([Id])
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [FK_Mensajes_Chats]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [FK_Mensajes_Usuarios] FOREIGN KEY([RemitenteId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [FK_Mensajes_Usuarios]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Pedidos] FOREIGN KEY([PedidoId])
REFERENCES [dbo].[Pedidos] ([Id])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Pedidos]
GO
ALTER TABLE [dbo].[PedidoDetalle]  WITH CHECK ADD  CONSTRAINT [FK_PedidoDetalle_Libros] FOREIGN KEY([LibroId])
REFERENCES [dbo].[Libros] ([Id])
GO
ALTER TABLE [dbo].[PedidoDetalle] CHECK CONSTRAINT [FK_PedidoDetalle_Libros]
GO
ALTER TABLE [dbo].[PedidoDetalle]  WITH CHECK ADD  CONSTRAINT [FK_PedidoDetalle_Pedidos] FOREIGN KEY([PedidoId])
REFERENCES [dbo].[Pedidos] ([Id])
GO
ALTER TABLE [dbo].[PedidoDetalle] CHECK CONSTRAINT [FK_PedidoDetalle_Pedidos]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Usuarios]
GO
ALTER TABLE [dbo].[SaldoMovimientos]  WITH CHECK ADD  CONSTRAINT [FK_SaldoMovimientos_Pedidos] FOREIGN KEY([PedidoId])
REFERENCES [dbo].[Pedidos] ([Id])
GO
ALTER TABLE [dbo].[SaldoMovimientos] CHECK CONSTRAINT [FK_SaldoMovimientos_Pedidos]
GO
ALTER TABLE [dbo].[SaldoMovimientos]  WITH CHECK ADD  CONSTRAINT [FK_SaldoMovimientos_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[SaldoMovimientos] CHECK CONSTRAINT [FK_SaldoMovimientos_Usuarios]
GO
ALTER TABLE [dbo].[UsuarioCredenciales]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioCredenciales_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioCredenciales] CHECK CONSTRAINT [FK_UsuarioCredenciales_Usuarios]
GO
ALTER TABLE [dbo].[PedidoDetalle]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[PedidoDetalle]  WITH CHECK ADD CHECK  (([PrecioUnitario]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_Libro_Actualizar]    Script Date: 11/03/2026 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Libro_Actualizar]
    (
        @LibroId INT,
        @Titulo NVARCHAR(200),
        @Autor NVARCHAR(200),
        @Descripcion NVARCHAR(MAX),
        @Precio DECIMAL(10,2),
        @Stock INT,
        @Foto NVARCHAR(500),
        @FechaPublicacion DATE
    )
    AS
    BEGIN
        SET NOCOUNT ON;

        BEGIN TRY

            IF NOT EXISTS(
                SELECT 1 
                FROM Libros
                WHERE Id = @LibroId
                AND Activo = 1
            )
            BEGIN
                RAISERROR('El libro no existe o está inactivo.',16,1);
    RETURN;
            END

            UPDATE Libros
            SET
                Titulo = @Titulo,
                Autor = @Autor,
                Descripcion = @Descripcion,
                Precio = @Precio,
                Stock = @Stock,
                Foto = @Foto,
                FechaPublicacion = @FechaPublicacion
            WHERE Id = @LibroId;

        END TRY
        BEGIN CATCH
            THROW;
        END CATCH
    END
GO
/****** Object:  StoredProcedure [dbo].[SP_Libro_Crear]    Script Date: 11/03/2026 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_Libro_Crear]
(
    @Titulo NVARCHAR(200),
    @Autor NVARCHAR(200),
    @Descripcion NVARCHAR(MAX),
    @Precio DECIMAL(10,2),
    @Stock INT,
    @Foto NVARCHAR(500),
    @FechaPublicacion DATE,
    @UsuarioId INT,
    @LibroId INT OUTPUT  -- ✅ Agregar parámetro de salida
)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS(
        SELECT 1 FROM Usuarios
        WHERE Id = @UsuarioId AND Activo = 1
    )
    BEGIN
        RAISERROR('El usuario no existe o no está activo.', 16, 1);
        RETURN;
    END

    INSERT INTO Libros
    (
        Titulo,
        Autor,
        Descripcion,
        Precio,
        Stock,
        Foto,
        FechaPublicacion,
        UsuarioId,
        Activo
    )
    VALUES
    (
        @Titulo,
        @Autor,
        @Descripcion,
        @Precio,
        @Stock,
        @Foto,
        @FechaPublicacion,
        @UsuarioId,
        1
    );
    
    -- ✅ Capturar el ID del libro recién insertado
    SET @LibroId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Libro_Eliminar]    Script Date: 11/03/2026 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE   PROCEDURE [dbo].[sp_Libro_Eliminar]
    (
        @LibroId INT
    )
    AS
    BEGIN
        SET NOCOUNT ON;

        BEGIN TRY

            IF NOT EXISTS(
                SELECT 1 
                FROM Libros
                WHERE Id = @LibroId
                AND Activo = 1
            )
            BEGIN
                RAISERROR('El libro no existe o ya está inactivo.',16,1);
    RETURN;
            END

            UPDATE Libros
            SET Activo = 0
            WHERE Id = @LibroId;

    END TRY
        BEGIN CATCH
            THROW;
        END CATCH
    END
GO
/****** Object:  StoredProcedure [dbo].[sp_Libro_ObtenerPorId]    Script Date: 11/03/2026 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE   PROCEDURE [dbo].[sp_Libro_ObtenerPorId]
    (
        @LibroId INT
    )
    AS
    BEGIN
        SET NOCOUNT ON;

        SELECT
            L.Id,
            L.Titulo,
            L.Autor,
            L.Descripcion,
            L.Precio,
            L.Stock,
            L.Foto,
            L.FechaPublicacion,
            L.Activo,
            L.UsuarioId,
            U.Nombre AS Vendedor
        FROM Libros L
        INNER JOIN Usuarios U ON L.UsuarioId = U.Id
        WHERE
            L.Id = @LibroId
            AND L.Activo = 1
            AND U.Activo = 1;
    END
GO
/****** Object:  StoredProcedure [dbo].[SP_Libros_Disponibles]    Script Date: 11/03/2026 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_Libros_Disponibles]
    AS
    BEGIN
        SET NOCOUNT ON;

    SELECT
        L.Id,
        L.Titulo,
        L.Autor,
        L.Descripcion,
        L.Precio,
        L.Stock,
        L.Foto,
        L.FechaPublicacion,
        L.Activo,
        L.UsuarioId,
        U.Nombre AS Vendedor
    FROM Libros L

    INNER JOIN Usuarios U ON L.UsuarioId = U.Id

    WHERE
        L.Activo = 1

        AND U.Activo = 1

        AND L.Stock > 0;
    END
GO
/****** Object:  StoredProcedure [dbo].[SP_Pedido_Crear]    Script Date: 11/03/2026 18:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_Pedido_Crear]
(
    @UsuarioId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Validar usuario activo
        IF NOT EXISTS (
            SELECT 1 FROM Usuarios 
            WHERE Id = @UsuarioId AND Activo = 1
        )
            RAISERROR('Usuario inválido.',16,1);

        -- Validar carrito
        IF NOT EXISTS (
            SELECT 1 FROM Carrito 
            WHERE UsuarioId = @UsuarioId
        )
            RAISERROR('El carrito está vacío.',16,1);

        -- Verificar stock ANTES de crear pedido
        IF EXISTS (
            SELECT 1
            FROM Carrito C
            INNER JOIN Libros L ON C.LibroId = L.Id
            WHERE C.UsuarioId = @UsuarioId
            AND L.Stock < C.Cantidad
        )
            RAISERROR('Stock insuficiente para uno o más libros.',16,1);

        DECLARE @Total DECIMAL(18,2);

        SELECT @Total = SUM(L.Precio * C.Cantidad)
        FROM Carrito C
        INNER JOIN Libros L ON C.LibroId = L.Id
        WHERE C.UsuarioId = @UsuarioId;

        INSERT INTO Pedidos (UsuarioId, FechaPedido, Total, Estado, Activo)
        VALUES (@UsuarioId, GETDATE(), @Total, 'Pendiente', 1);

        DECLARE @PedidoId INT = SCOPE_IDENTITY();

        INSERT INTO PedidoDetalle (PedidoId, LibroId, Cantidad, PrecioUnitario)
        SELECT 
            @PedidoId,
            C.LibroId,
            C.Cantidad,
            L.Precio
        FROM Carrito C
        INNER JOIN Libros L ON C.LibroId = L.Id
        WHERE C.UsuarioId = @UsuarioId;

        -- 🔥 DESCUENTO SEGURO DE STOCK
        UPDATE L
        SET L.Stock = L.Stock - C.Cantidad
        FROM Libros L
        INNER JOIN Carrito C ON L.Id = C.LibroId
        WHERE C.UsuarioId = @UsuarioId
        AND L.Stock >= C.Cantidad;

        -- Validar que todas las filas se actualizaron
        IF @@ROWCOUNT <> (
            SELECT COUNT(*) FROM Carrito WHERE UsuarioId = @UsuarioId
        )
        BEGIN
            RAISERROR('Error de concurrencia: stock insuficiente.',16,1);
        END

        DELETE FROM Carrito
        WHERE UsuarioId = @UsuarioId;

        COMMIT;

        SELECT @PedidoId AS PedidoId;

    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END
GO
USE [master]
GO
